body {
  background: linear-gradient(135deg, white, #fff5f5);
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: max-content max-content 1fr;
  height: 100vh;
  overflow-x: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1em;
}

.attribution a {
  color: #f96262;
}

.background {
  display: none;
}

.poster-container {
  grid-row: 2/3;
}
.poster-container .poster-img {
  background: url(images/hero-mobile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
}

.brand-title {
  padding: 1.5rem;
  opacity: 0.9;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}
.details-container h1,
.details-container p {
  margin: 0;
  text-align: center;
}
.details-container h1 {
  color: #413a3a;
  font-size: 3em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.details-container h1:first-child {
  color: #ce9797;
  font-weight: 300;
}
.details-container p {
  color: #ce9797;
  padding: 1.5rem 2rem;
  line-height: 1.3em;
}
.details-container .error-message {
  display: none;
  color: #f96262;
  padding: 0.5em 0 0 1.7em;
  font-size: 0.875em;
}
.details-container .error-message.active {
  display: block;
}
.details-container .email-container {
  border-radius: 2em;
  border: 1px solid #ce9797;
  display: flex;
  align-items: center;
  width: 75%;
}
.details-container .email-container.error {
  border: 2px solid #f96262;
}
.details-container .email-container.error .error-icon {
  display: block;
}
.details-container .email-container ::-webkit-input-placeholder {
  color: #ce9797;
}
.details-container .email-container :-ms-input-placeholder {
  color: #ce9797;
}
.details-container .email-container ::-ms-input-placeholder {
  color: #ce9797;
}
.details-container .email-container .email-input {
  background: none;
  border: none;
  flex: 1;
  font-weight: 600;
  padding: 1.5em 0.5em 1.5em 2em;
  min-width: 0;
}
.details-container .email-container .email-input:active, .details-container .email-container .email-input:focus {
  outline: none;
}
.details-container .email-container .error-icon {
  display: none;
  height: 50%;
  margin: 0 0.4rem;
}
.details-container .email-container .email-submit-btn {
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border-radius: 2em;
  border: none;
  cursor: pointer;
  width: 5rem;
  height: 100%;
  min-height: 56px;
  box-shadow: 1px 5px 11px #dbb3b3;
}
.details-container .email-container .email-submit-btn:active, .details-container .email-container .email-submit-btn:focus {
  outline: none;
}
.details-container .email-container .email-submit-btn:hover {
  background: #f8bfbf;
  animation: slideLeft 0.1s forwards linear;
}
@keyframes slideLeft {
  0% {
    width: 5rem;
  }
  100% {
    width: 5.5rem;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  main {
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 1fr;
  }

  .background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 65%;
    min-height: auto;
    z-index: -1;
  }

  .brand-title {
    padding: 3rem 17%;
  }

  .details-container {
    grid-row: 2/3;
    align-items: baseline;
    padding: 0 17%;
  }
  .details-container h1,
.details-container p {
    text-align: left;
    padding: 0;
  }
  .details-container p {
    padding: 1.2rem 0 2rem;
  }
  .details-container .email-container {
    width: 90%;
  }

  .poster-container {
    grid-row: 1/4;
    grid-column: 2/3;
    min-width: 600px;
  }
  .poster-container .poster-img {
    background: url(images/hero-desktop.jpg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    padding-top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
